@import '../../../styles/Variables.scss';

footer {
  width: 100%;
  background-color: $primary-color;
  color: white;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  font-size: large;
}

@media (min-width: 2560px) {
  footer p {
    font-size: $font-size-2k;
  }
}

@media (min-width: 3840px) {
  footer p {
    font-size: $font-size-4k;
  }
}