@import '../../../styles/Variables.scss';

.navbar {
  width: 100%;
  min-height: 5vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $primary-color;
}

.brand-title {
  font-size: large;
}

.navbar-links ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  font-size: large;
}

.link {
  margin-left: 1rem;
  color: $link-color;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.active-link {
  margin-left: 1rem;
  color: $link-color;
  text-decoration: underline;
}

@media (min-width: 2560px) {
  .navbar-links ul {
    font-size: $font-size-2k;
  }

  .brand-title {
    font-size: $font-size-2k;
  }
}

@media (min-width: 3840px) {
  .navbar-links ul {
    font-size: $font-size-4k;
  }

  .brand-title {
    font-size: $font-size-4k;
  }
}
