@import '../../styles/Variables.scss';

.info-display {
  display: flex;
  justify-content: center;
  border: 1px solid $border-color;
  border-top: 0;
  color: $font-color;
  background-color: $game-color;
  margin: 0 0 0 0;
}

.info-display span {
  padding: 5px;
  flex-basis: 100%;
}

.info-display span:not(:first-child) {
  border-left: 1px solid $border-color;
}

.days-left-high {
  background-color: $high-color;
}

.days-left-medium {
  background-color: $medium-color;
}

.days-left-low {
  background-color: $low-color;
}

@media (max-width: 680px) {
  .info-display {
    font-size: $font-size-mobile;
  }

  .start-date {
    display: none;
  }
}

@media (min-width: 2560px) {
  .info-display {
    font-size: $font-size-2k;
  }
}

@media (min-width: 3840px) {
  .info-display {
    font-size: $font-size-4k;
  }
}
