@import '../../../styles/Variables.scss';

.game-details {
  display: flex;
  justify-content: center;
  border: 1px solid $border-color;
  background-color: #fff;
}

.game-details span {
  padding: 5px;
  flex-basis: 100%;
  color: $font-color;
  font-weight: bold;
}

@media (max-width: 680px) {
  .game-details {
    font-size: $font-size-mobile;
  }

  .start-detail {
    display: none;
  }
}

@media (min-width: 2560px) {
  .game-details {
    font-size: $font-size-2k;
  }
}

@media (min-width: 3840px) {
  .game-details {
    font-size: $font-size-4k;
  }
}
