// Colors
$primary-color: #5689dc;
$secondary-color: #e9a197;
$link-color: #fde047;
$shadow-color: #656d78;
$border-color: #656d78;
$font-color: #3b4046;
$game-color: #fff;
$confirm-color: #22c55e;

// Font Sizes
$font-size-mobile: 0.95em;
$font-size-2k: 1.6em;
$font-size-4k: 2em;

$font-size-h1-2k: 3em;
$font-size-h1-4k: 3.5em;
